    <div id="btnDenno" class="h3 grobold bgYellow boxShadow">D <span>?</span></div>
<div id="dennoBot" class="boxShadow hide">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                <div id="closeBot" class="text-right">&mdash;</div>
                <form id="formFAQ">
                    <div class="field">
                        <label>posez votre question</label>
                        <input type="search" list="answers" id="inputAnswer">
                    </div>
                </form>
                <div id="choice"></div>
                <div id="dennoDialog" class="hide">
                    <div class="grid-x grid-padding-x align-right">
                        <div class="cell">
                            <div id="answer" class="hide answerType"></div>
                        </div>
                        <div class="cell small-11 medium-10">
                            <div class="grid-x align-bottom">
                                <div class="cell auto">
                                    <div id="responseBot" class="hide banner"></div>
                                </div>
                                <div class="cell shrink">
                                    <div id="dennoClose" class="dennoResponse h3 grobold bgYellow">D</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <p><small>Ou retrouver toutes nos questions sur la <a
                                href="./pages/faq.php"><b>page F.A.Q</b></a></small></p>
                </div>
            </div>
        </div>
    </div>
</div>            

